{% extends 'base.html' %} {% block title %} index {% endblock title %} 
{% block body %}
<h1>Blog posts</h1>
<ul>
  {% for post in object_list %}
  <li>
    <a href=" {% url 'postDetail' post.id %} ">
        {{post.title}} -By: {{post.author.first_name}}
    </a>
    <br />
    {{post.description}}
    <br>
    <small>( <a href=" {% url 'postUpdate' post.id %} ">Edit</a> )</small>
    <small>( <a href=" {% url 'postDelete' post.id %} ">Delete</a> )</small>
  </li>
  <br /><br />
  {% endfor %}
</ul>
{% endblock body %}
