<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django form</title>
</head>
<body>
    <h1>Django Form API</h1>
    <h2>Form rendering options</h2>
    <h3>form</h3>
    {{form}} <hr>
    <h3>form.as_p</h3>
    {{form.as_p}} <hr>
    <h3>form.as_table</h3>
    {{form.as_table}} <hr>
    <h3>form.as_ul</h3>
    {{form.as_ul}} <hr>

    <h3>form.fieldname</h3>
    {{form.name}}
    {{form.reg}}
</body>
</html>